@import "./vars.css";

#root {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 25px auto;
  max-width: 800px;
  width: 100%;
  height: fit-content;
}

.greyContainer {
  margin: 25px auto;
  max-width: 800px;
  background: rgba(24, 24, 24);
  box-shadow: 2px 4px 64px rgba(0, 0, 0, 0.58);
  border-radius: 30px;
  padding: 25px 0px;
  transition: 0.6s;
  color: var(--cream);
  font-family: futura-pt;
}

.heading1 {
  font-family: gin, serif;
  font-weight: 400;
  font-style: normal;
  color: var(--cream);
  font-size: 8vw;
  margin-top: 20px;
}

.heading2 {
  font-family: futura-pt;
  font-size: 1.5em;
  color: var(--cream);
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .heading1 {
    font-size: 50px;
  }
}

.bodyText {
  font-size: 1.5em;
  font-family: futura-pt;
  color: var(--cream);
}

footer {
  color: var(--cream);
  text-align: center;
  font-family: futura-pt;
}
