.button {
  filter: drop-shadow(0px 4px 66px rgba(0, 0, 0, 0.25));
  background: #b35742;
  border-radius: 8px;
  font-family: futura-pt;
  font-style: normal;
  font-weight: bolder;
  width: fit-content;
  font-size: 1.2em;
  line-height: 29px;
  border: none;
  padding: 10px 50px;
  color: #e8d8c2;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #c16e5b;
}

.green {
  background-color: rgb(76, 127, 76);
}

.noBorderButton {
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--cream);
  font-weight: bolder;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 0;
}

noBorderButton:visited {
  text-decoration: none;
}

.chevron {
  color: var(--cream);
  font-size: 2em;
  position: relative;
  margin-top: 1px;
}

.chevron:hover {
  color: var(--rust);
  cursor: pointer;
}

.buttonFix,
.buttonFix:hover,
.buttonFix:active,
.buttonFix:visited,
.buttonFix:focus {
  text-decoration: none;
}

.learnMoreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learnMoreContainer:hover {
  color: var(--rust);
}
