.section {
  background-color: pink;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  max-width: 1000px;
  margin: 0 auto;
  border: none;
  color: var(--cream);
}

.contactCard {
  display: flex;
  width: 80%;
  align-items: center;
  gap: 20px;
  font-family: futura-pt;
}

/* TYPOGRAPHY */
.contactCard h1 {
  font-family: futura-pt;
  font-size: 2em;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  text-align: left;
}

.contactCard p {
  margin: 0;
  padding: 0;
  line-height: 2;
}

.link {
  text-decoration: none;
}

.contactCardType {
  text-align: left;
}

.iconsContainer {
  display: flex;
  gap: 50px;
}

.avi {
  height: 80px;
  width: 80px;
  background-color: var(--cream);
  border-radius: 50%;
  background-image: url("https://gravatar.com/robohash");
}

@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: 2fr 3fr;
  }
}
