@import "./vars.css";

.success {
  background-color: rgb(76, 127, 76);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textBox {
  width: 80%;
  height: 30px;
  margin-bottom: 40px;
  background: none;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  border-bottom: 2px solid var(--lightcream);
  color: var(--cream);
  font-size: 1.2em;
  font-family: futura-pt;
  outline: none;
  border-radius: 0px;
  transition: 0.2s;
}
 
.textBox::placeholder {
  color: var(--lightcream);
}

.textBox:focus {
  border-bottom: 2px solid var(--cream);
}

.textArea {
  background: none;
  width: 80%;
  border-radius: 10px;
  border: 2px solid var(--lightcream);
  height: 10em;
  font-family: futura-pt;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.2em;
  color: var(--lightcream);
  margin-bottom: 35px;
}

.textArea::placeholder {
  color: var(--lightcream);
}

.textArea:focus {
  outline: none;
  border-color: var(--cream);
  color: var(--cream);
}

.errorMessage {
  color: rgb(157, 58, 58);
  font-family: futura-pt;
  position: relative;
  top: -25px;
}

.servicesContainer {
  width: 80%;
  color: var(--cream);
}

.servicesContainer h2 {
  margin: 0;
}

.servicesSelect {
  display: flex;
  width: 80%;
  margin-bottom: 40px;
}

.label {
  display: flex;
  align-items: center;
  color: var(--cream);
  font-size: 1.1em;
  font-family: futura-pt;
  margin-right: 50px;
}

.addressAutofill:first-child {
  border: 1px solid red;
}
