* {
  font-family: futura-pt;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-flow: dense;
  gap: 20px;
}

.galleryColumnsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto, 200px);
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .galleryColumnsGrid {
    grid-template-columns: 1fr;
  }
  .galleryColumn {
    width: 100%;
  }
  .thumbnailImg {
    height: 80vh;
  }
}

.thumbnailImg {
  width: 100%;
  backdrop-filter: none;
  object-fit: cover;
  border-radius: 20px;
  grid-row: span 2;
}

.galleryColumn li {
  transition: 0.2s;
}
.galleryColumn li:hover {
  cursor: pointer;
}

.galleryColumn li img:hover {
  backdrop-filter: sepia(90%);
}

.textImageOverlay {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--dark);
  border-radius: 10px;
  padding: 10px 25px;
  z-index: 10000;
}

/* POPUP STYLES */
.popupContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 10000;
  color: white;
}

.fullscreenImage {
  width: 100%;
  border-radius: 20px;
  margin: 0 auto;
  object-fit: cover;
}

.imageNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backButton {
  margin-bottom: 10px;
  border: none;
  font-size: 2em;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100vh;
  cursor: pointer;
  color: var(--cream);
  height: 50px;
  background-color: rgba(68, 68, 68, 0.2);
}

.buttonText {
  font-size: 20px;
  font-family: Futura-Pt, sans-serif;
  color: var(--cream);
}

.imageHeading {
  font-size: 2em;
}

.tagButton {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--cream);
  padding: 10px;
  font-size: 1.2em;
  color: var(--cream);
  border-radius: 5px;
  margin-bottom: 10px;
}

.tagButton:hover {
  cursor: pointer;
  background-color: rgba(26, 26, 26, 0);
}

.activeTagButton {
  background-color: var(--rust);
}

.activeTagButton:hover {
  background-color: var(--rust);
}

/* pagination */
.pagination {
  margin: 0 auto;
  display: flex;
  width: fit-content;
  gap: 10px;
  justify-content: space-between;
}

.paginationButton {
  margin-top: 25px;
  border-radius: 50%;
  padding: 10px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cream);
  background-color: var(--dark);
  border: 1px solid var(--cream);
  transition: 0.2s;
}

.paginationButton:hover {
  cursor: pointer;
  background-color: var(--rust);
}

.paginationButtonActive {
  background-color: var(--rust);
}
