.fullWidth {
  box-sizing: border-box;
  background-image: url("../assets/hero.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 75% 50%;
  display: flex;
  align-items: center;
  height: 80vh;
  box-shadow: inset 0 0 20px #000000;
}

.heroSection {
  justify-content: center;
  border-radius: 50px;
  padding: 50px !important;
  box-sizing: border-box;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .heroSection {
    width: 80%;
  }
  .fullWidth {
    background-position: left center;
  }
}
.headingText {
  color: var(--cream);
  font-family: futura-pt;
  font-weight: bolder;
  font-size: clamp(40px, 3vw, 100px);
  text-align: center;
}

.header {
  color: var(--cream);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .header {
    justify-content: center;
  }
}

.rustAccent {
  color: var(--rust);
}

.logo {
  width: clamp(2rem, 25%, 120px);
  width: 100px;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
  top: -18px;
}

.bars {
  font-size: 2em;
  color: var(--cream);
}
