.nav {
  display: flex;
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  background-color: var(--dark);
  color: var(--cream);
  z-index: 100000;
  font-family: Futura-pt;
}

@media screen and (min-width: 600px) {
  .nav {
    display: none;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.list li {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.list li a {
  color: var(--cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.listText {
  font-size: 12px;
  margin-top: 10px;
}

.active {
  color: var(--rust) !important;
}
