.navBar {
  display: flex;
}

@media screen and (max-width: 600px) {
 .navBar {
   display: none;
 }
}

.navBar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 25px; 
  padding: 0; 
  margin: 0;
  width: 100%;
}

.navBar li {
  padding: 0; 
  margin: 0;
}

.navBar li a {
  color: var(--cream);
  font-family: futura-pt;
  font-weight: bold;
  font-size: 1.2em;
  transition: 0.2s;
  text-decoration: none;
}

.navBar li a:hover {
  color: var(--rust);
}

.active a {
  color: var(--rust) !important;
}
