.container {
  width: 100vw;
  height: fit-content;
  padding: 50px 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.07);
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.grid {
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.servicesIconContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 500px) {
  .servicesIconContainer {
    flex-direction: row;
    width: 60%;
  }
}

.icon {
  color: var(--cream);
  font-size: 100px;
  padding: 30px;
  background-color: var(--rust);
  border-radius: 15px;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.58);
  transition: 0.2s;
  cursor: pointer;
}

.icon:hover {
  box-shadow: 2px 4px 60px rgba(0, 0, 0, 0.87);
  transform: scale(1.2);
  cursor: pointer;
}

.iconBox {
  font-family: futura-pt;
  text-align: center;
  margin-top: 40px;
}

.iconBox h2 {
  color: var(--cream);
  font-size: 1.5em;
  font-weight: bold;
}

.heading {
  margin: 0;
}

.servicesPara {
  width: 80%;
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  margin-top: 40px;
}
