.skeleton {
  height: 200px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(44, 44, 44) 0%,
    25%,
    rgb(55, 55, 53) 50%,
    rgb(44, 44, 44) 100%
  );
  border-radius: 20px;
  animation: background-motion 1s ease-in-out infinite;
  background-size: 200% 200%;
}

@keyframes background-motion {
  0% {
    background-position: 150% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
