.backgroundContainer {
  background-color: var(--rust);
  color: var(--cream);
  height: 50px;
}

.container {
  width: min(80%, 800px);
  margin: 0 auto;
  display: flex; 
  align-items: center;
  justify-content: right;
  gap: 25px;
  height: 100%;
}

.container a {
  color: var(--cream);
}

.icon {
  font-size: 1.6em;
}

.button {
  text-decoration: none;
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid var(--cream);
}
