.heading1 {
  font-family: gin, serif;
  font-weight: 400;
  font-style: normal;
  color: var(--cream);
  font-size: 8vw;
  margin-top: 20px;
}

.heading1Futura {
  font-family: Futura-Pt;
  font-weight: bolder;
  font-style: normal;
  color: var(--cream);
  font-size: clamp(2em, 3vw, 3em);
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.heading2 {
  font-family: futura-pt;
  font-size: 1.5em;
  color: var(--cream);
  text-align: center;
}

.bodyText {
  font-size: clamp(1.2em, 1.5vw, 1.3em);
  line-height: 2;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-family: futura-pt;
  color: var(--cream);
}
